[user]
	email = scottw@plexapp.com
	name = scwe

[core]
	editor = nvim

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[rebase]
	autoStash = true

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --oneline --graph --decorate --all
